@font-face {
	font-family: "bkdata";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.bkdata-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bkdata' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
	content: "\e2da";
}
.icon-delete-fill:before {
	content: "\e29e";
}
.icon-up-circle:before {
	content: "\e2a2";
}
.icon-upload-cloud:before {
	content: "\e2e6";
}
.icon-down-circle:before {
	content: "\e2a1";
}
.icon-point-loading:before {
	content: "\e264";
}
.icon-fold:before {
	content: "\e2a0";
}
.icon-unfold:before {
	content: "\e29f";
}
.icon-plus-bold:before {
	content: "\e287";
}
.icon-abnormal-table:before {
	content: "\e10a";
}
.icon-add_dataflow:before {
	content: "\e10b";
}
.icon-add_dataflow2:before {
	content: "\e10e";
}
.icon-add_task:before {
	content: "\e10d";
}
.icon-add_task2:before {
	content: "\e10f";
}
.icon-add-data:before {
	content: "\e10c";
}
.icon-add-dataflow:before {
	content: "\e111";
}
.icon-add-model:before {
	content: "\e110";
}
.icon-add-user:before {
	content: "\e112";
}
.icon-algorithm:before {
	content: "\e114";
}
.icon-analyzed:before {
	content: "\e115";
}
.icon-analyzed2:before {
	content: "\e117";
}
.icon-angle-double-down-delete:before {
	content: "\e116";
}
.icon-angle-double-left-delete:before {
	content: "\e118";
}
.icon-angle-double-right-delete:before {
	content: "\e119";
}
.icon-angle-double-up-delete:before {
	content: "\e11a";
}
.icon-angle-down-delete:before {
	content: "\e11b";
}
.icon-angle-left-delete:before {
	content: "\e11d";
}
.icon-angle-right-delete:before {
	content: "\e11c";
}
.icon-angle-up-delete:before {
	content: "\e11e";
}
.icon-apple:before {
	content: "\e120";
}
.icon-apps:before {
	content: "\e11f";
}
.icon-apps-shape:before {
	content: "\e121";
}
.icon-area-chart:before {
	content: "\e122";
}
.icon-arrows-down:before {
	content: "\e124";
}
.icon-arrows-down-circle:before {
	content: "\e123";
}
.icon-arrows-down-circle-shape:before {
	content: "\e125";
}
.icon-arrows-down-shape:before {
	content: "\e126";
}
.icon-arrows-left:before {
	content: "\e127";
}
.icon-arrows-left-circle:before {
	content: "\e128";
}
.icon-arrows-left-circle-shape:before {
	content: "\e12a";
}
.icon-arrows-left-shape:before {
	content: "\e129";
}
.icon-arrows-m-down-shape:before {
	content: "\e12b";
}
.icon-arrows-m-left-shape:before {
	content: "\e12d";
}
.icon-arrows-m-right-shape:before {
	content: "\e12c";
}
.icon-arrows-m-up-shape:before {
	content: "\e12e";
}
.icon-arrows-right:before {
	content: "\e130";
}
.icon-arrows-right-circle:before {
	content: "\e12f";
}
.icon-arrows-right-circle-shape:before {
	content: "\e131";
}
.icon-arrows-right-shape:before {
	content: "\e132";
}
.icon-arrows-up:before {
	content: "\e133";
}
.icon-arrows-up-circle:before {
	content: "\e134";
}
.icon-arrows-up-circle-shape:before {
	content: "\e135";
}
.icon-arrows-up-shape:before {
	content: "\e136";
}
.icon-arrows-v:before {
	content: "\e137";
}
.icon-auto-layout:before {
	content: "\e138";
}
.icon-back:before {
	content: "\e139";
}
.icon-back2:before {
	content: "\e13a";
}
.icon-back-shape:before {
	content: "\e13b";
}
.icon-back-top:before {
	content: "\e13c";
}
.icon-bar-chart:before {
	content: "\e13d";
}
.icon-batch:before {
	content: "\e13e";
}
.icon-batch_source:before {
	content: "\e13f";
}
.icon-batch-result:before {
	content: "\e140";
}
.icon-biz:before {
	content: "\e141";
}
.icon-bk:before {
	content: "\e142";
}
.icon-block-shape:before {
	content: "\e143";
}
.icon-calendar:before {
	content: "\e144";
}
.icon-calendar-shape:before {
	content: "\e145";
}
.icon-cc-host:before {
	content: "\e146";
}
.icon-cc-square:before {
	content: "\e147";
}
.icon-chain:before {
	content: "\e148";
}
.icon-check-1-delete:before {
	content: "\e149";
}
.icon-check-circle:before {
	content: "\e14a";
}
.icon-check-circle-fill:before {
	content: "\e14c";
}
.icon-check-circle-shape:before {
	content: "\e14b";
}
.icon-circle:before {
	content: "\e14e";
}
.icon-circle-2-1:before {
	content: "\e14d";
}
.icon-circle-4-1:before {
	content: "\e14f";
}
.icon-circle-shape:before {
	content: "\e150";
}
.icon-clean-result:before {
	content: "\e151";
}
.icon-clear:before {
	content: "\e153";
}
.icon-clipboard:before {
	content: "\e152";
}
.icon-clipboard-shape:before {
	content: "\e154";
}
.icon-clock:before {
	content: "\e155";
}
.icon-clock-shape:before {
	content: "\e158";
}
.icon-close-delete:before {
	content: "\e156";
}
.icon-close3-shape:before {
	content: "\e157";
}
.icon-close-circle:before {
	content: "\e159";
}
.icon-close-circle-shape:before {
	content: "\e15a";
}
.icon-code:before {
	content: "\e15b";
}
.icon-cog:before {
	content: "\e15c";
}
.icon-cog-shape:before {
	content: "\e15d";
}
.icon-comp-list:before {
	content: "\e15e";
}
.icon-cry:before {
	content: "\e161";
}
.icon-cry-shape:before {
	content: "\e15f";
}
.icon-cursormove:before {
	content: "\e160";
}
.icon-dashboard:before {
	content: "\e163";
}
.icon-dashboard-2:before {
	content: "\e162";
}
.icon-dashboard-2-shape:before {
	content: "\e164";
}
.icon-dashboard-shape:before {
	content: "\e165";
}
.icon-data:before {
	content: "\e167";
}
.icon-data_source:before {
	content: "\e166";
}
.icon-data2:before {
	content: "\e16a";
}
.icon-data2-shape:before {
	content: "\e168";
}
.icon-dataflow:before {
	content: "\e169";
}
.icon-dataflow2:before {
	content: "\e16b";
}
.icon-data-node:before {
	content: "\e16c";
}
.icon-data-shape:before {
	content: "\e16d";
}
.icon-datasource:before {
	content: "\e16e";
}
.icon-debug:before {
	content: "\e16f";
}
.icon-dedent:before {
	content: "\e170";
}
.icon-delete-delete:before {
	content: "\e173";
}
.icon-dialogue:before {
	content: "\e171";
}
.icon-dialogue-empty:before {
	content: "\e172";
}
.icon-dialogue-empty-shape:before {
	content: "\e175";
}
.icon-dialogue-shape:before {
	content: "\e174";
}
.icon-digger:before {
	content: "\e176";
}
.icon-dimension:before {
	content: "\e177";
}
.icon-dispirited:before {
	content: "\e179";
}
.icon-dispirited-shape:before {
	content: "\e178";
}
.icon-docker:before {
	content: "\e17b";
}
.icon-download:before {
	content: "\e17a";
}
.icon-download-data:before {
	content: "\e17c";
}
.icon-down-shape:before {
	content: "\e17d";
}
.icon-druid_storage:before {
	content: "\e17e";
}
.icon-edit:before {
	content: "\e17f";
}
.icon-edit2:before {
	content: "\e182";
}
.icon-elastic_storage:before {
	content: "\e180";
}
.icon-ellipsis:before {
	content: "\e181";
}
.icon-email:before {
	content: "\e183";
}
.icon-email-shape:before {
	content: "\e184";
}
.icon-empty:before {
	content: "\e186";
}
.icon-empty-shape:before {
	content: "\e185";
}
.icon-end:before {
	content: "\e187";
}
.icon-es2:before {
	content: "\e18b";
}
.icon-exclamation:before {
	content: "\e188";
}
.icon-exclamation-circle-delete:before {
	content: "\e189";
}
.icon-exclamation-circle-shape-delete:before {
	content: "\e18a";
}
.icon-exclamation-triangle:before {
	content: "\e18c";
}
.icon-exclamation-triangle-shape:before {
	content: "\e18d";
}
.icon-execute:before {
	content: "\e18e";
}
.icon-exit:before {
	content: "\e18f";
}
.icon-eye:before {
	content: "\e190";
}
.icon-eye-shape:before {
	content: "\e192";
}
.icon-eye-slash:before {
	content: "\e191";
}
.icon-eye-slash-shape:before {
	content: "\e193";
}
.icon-file:before {
	content: "\e195";
}
.icon-file-plus:before {
	content: "\e194";
}
.icon-file-plus-shape:before {
	content: "\e196";
}
.icon-file-shape:before {
	content: "\e197";
}
.icon-folder:before {
	content: "\e198";
}
.icon-folder-open:before {
	content: "\e199";
}
.icon-folder-open-shape:before {
	content: "\e19b";
}
.icon-folder-plus:before {
	content: "\e19a";
}
.icon-folder-plus-shape:before {
	content: "\e19c";
}
.icon-folder-shape:before {
	content: "\e19e";
}
.icon-full-screen:before {
	content: "\e19d";
}
.icon-function:before {
	content: "\e19f";
}
.icon-hand-cursor:before {
	content: "\e1a0";
}
.icon-hdfs_storage:before {
	content: "\e1a5";
}
.icon-hdfs2:before {
	content: "\e1a1";
}
.icon-heart:before {
	content: "\e1a2";
}
.icon-heart-shape:before {
	content: "\e1a3";
}
.icon-heat:before {
	content: "\e1a4";
}
.icon-heat-fill:before {
	content: "\e1a6";
}
.icon-hermes_storage:before {
	content: "\e1a7";
}
.icon-hide:before {
	content: "\e1a8";
}
.icon-history-record:before {
	content: "\e1a9";
}
.icon-home:before {
	content: "\e1ac";
}
.icon-home-shape:before {
	content: "\e1aa";
}
.icon-icon-filter:before {
	content: "\e1ab";
}
.icon-id:before {
	content: "\e1ad";
}
.icon-id-shape:before {
	content: "\e1af";
}
.icon-image:before {
	content: "\e1ae";
}
.icon-image-shape:before {
	content: "\e1b0";
}
.icon-indent:before {
	content: "\e1b4";
}
.icon-index:before {
	content: "\e1b1";
}
.icon-info-circle:before {
	content: "\e1b3";
}
.icon-info-circle-shape:before {
	content: "\e1b5";
}
.icon-input:before {
	content: "\e1b7";
}
.icon-input-2:before {
	content: "\e1b8";
}
.icon-ip:before {
	content: "\e1bb";
}
.icon-kafka:before {
	content: "\e1b9";
}
.icon-key:before {
	content: "\e1ba";
}
.icon-layer:before {
	content: "\e1bd";
}
.icon-left-shape:before {
	content: "\e1be";
}
.icon-line-chart:before {
	content: "\e1bf";
}
.icon-link-to:before {
	content: "\e1c4";
}
.icon-linux:before {
	content: "\e1c0";
}
.icon-list:before {
	content: "\e1c1";
}
.icon-lock:before {
	content: "\e1c2";
}
.icon-lock-shape:before {
	content: "\e1c3";
}
.icon-mac:before {
	content: "\e1c5";
}
.icon-magic-layout:before {
	content: "\e1c6";
}
.icon-main_key:before {
	content: "\e1c7";
}
.icon-menu:before {
	content: "\e1c8";
}
.icon-merge:before {
	content: "\e1cc";
}
.icon-minus:before {
	content: "\e1c9";
}
.icon-minus-circle:before {
	content: "\e1cb";
}
.icon-minus-circle-shape:before {
	content: "\e1ca";
}
.icon-minus-square:before {
	content: "\e1cd";
}
.icon-minus-square-shape:before {
	content: "\e1ce";
}
.icon-mobile:before {
	content: "\e1cf";
}
.icon-mobile-shape:before {
	content: "\e1d0";
}
.icon-model-flow-62:before {
	content: "\e1d2";
}
.icon-model-flow-75:before {
	content: "\e1d1";
}
.icon-modelflow-table:before {
	content: "\e1d3";
}
.icon-monitors:before {
	content: "\e1d4";
}
.icon-monitors-cog:before {
	content: "\e1d5";
}
.icon-more:before {
	content: "\e1d6";
}
.icon-move:before {
	content: "\e1dd";
}
.icon-mysql_storage:before {
	content: "\e1d9";
}
.icon-mysql2:before {
	content: "\e1d7";
}
.icon-navigator:before {
	content: "\e1d8";
}
.icon-next:before {
	content: "\e1da";
}
.icon-next-shape:before {
	content: "\e1db";
}
.icon-no-data:before {
	content: "\e1dc";
}
.icon-notification:before {
	content: "\e1df";
}
.icon-offline:before {
	content: "\e1e0";
}
.icon-offline-calc:before {
	content: "\e1de";
}
.icon-order:before {
	content: "\e1e1";
}
.icon-order-shape:before {
	content: "\e1e6";
}
.icon-outline-list:before {
	content: "\e1e2";
}
.icon-output:before {
	content: "\e1e4";
}
.icon-panel:before {
	content: "\e1e3";
}
.icon-panel-permission:before {
	content: "\e1e5";
}
.icon-panels:before {
	content: "\e1e7";
}
.icon-panel-shape:before {
	content: "\e1e8";
}
.icon-password:before {
	content: "\e1ea";
}
.icon-password-shape:before {
	content: "\e1e9";
}
.icon-pause:before {
	content: "\e1ee";
}
.icon-pc:before {
	content: "\e1eb";
}
.icon-pc-shape:before {
	content: "\e1ec";
}
.icon-pie-chart:before {
	content: "\e1ed";
}
.icon-pie-chart-shape:before {
	content: "\e1f0";
}
.icon-pipeline:before {
	content: "\e1ef";
}
.icon-pipeline-shape:before {
	content: "\e1f1";
}
.icon-play:before {
	content: "\e1f2";
}
.icon-play2:before {
	content: "\e1f7";
}
.icon-play3:before {
	content: "\e1f3";
}
.icon-play-circle-shape:before {
	content: "\e1f5";
}
.icon-play-shape:before {
	content: "\e1f4";
}
.icon-plus-delete:before {
	content: "\e1f6";
}
.icon-plus-circle:before {
	content: "\e1f8";
}
.icon-plus-circle-shape:before {
	content: "\e1f9";
}
.icon-plus-square:before {
	content: "\e1fb";
}
.icon-plus-square-shape:before {
	content: "\e1fa";
}
.icon-postgresql_storage:before {
	content: "\e1fe";
}
.icon-project:before {
	content: "\e1fc";
}
.icon-project-custom:before {
	content: "\e1fd";
}
.icon-qq:before {
	content: "\e1ff";
}
.icon-qq-shape:before {
	content: "\e202";
}
.icon-question:before {
	content: "\e201";
}
.icon-question-circle:before {
	content: "\e200";
}
.icon-question-circle-shape-delete:before {
	content: "\e206";
}
.icon-queue_storage:before {
	content: "\e203";
}
.icon-realtime:before {
	content: "\e205";
}
.icon-recal-execution:before {
	content: "\e204";
}
.icon-recal-normtask:before {
	content: "\e207";
}
.icon-recal-pending:before {
	content: "\e208";
}
.icon-recal-recalable:before {
	content: "\e209";
}
.icon-recal-recaltask:before {
	content: "\e20a";
}
.icon-recal-retry:before {
	content: "\e20f";
}
.icon-recal-stop:before {
	content: "\e20c";
}
.icon-recal-task:before {
	content: "\e20b";
}
.icon-recal-watting:before {
	content: "\e20e";
}
.icon-refresh:before {
	content: "\e20d";
}
.icon-restart:before {
	content: "\e210";
}
.icon-resulttable:before {
	content: "\e213";
}
.icon-right-shape:before {
	content: "\e212";
}
.icon-rtx:before {
	content: "\e211";
}
.icon-sample-data:before {
	content: "\e216";
}
.icon-sample-privacy:before {
	content: "\e214";
}
.icon-sample-public:before {
	content: "\e215";
}
.icon-save:before {
	content: "\e217";
}
.icon-save-shape:before {
	content: "\e218";
}
.icon-script-file:before {
	content: "\e219";
}
.icon-script-files:before {
	content: "\e21a";
}
.icon-search-delete:before {
	content: "\e21f";
}
.icon-sina:before {
	content: "\e21b";
}
.icon-sina-shape:before {
	content: "\e21e";
}
.icon-sitemap:before {
	content: "\e21c";
}
.icon-sitemap-shape:before {
	content: "\e21d";
}
.icon-smile:before {
	content: "\e220";
}
.icon-smile-shape:before {
	content: "\e221";
}
.icon-solid-link:before {
	content: "\e222";
}
.icon-sort:before {
	content: "\e223";
}
.icon-split:before {
	content: "\e227";
}
.icon-stanresulttable:before {
	content: "\e224";
}
.icon-star:before {
	content: "\e225";
}
.icon-star-shape:before {
	content: "\e226";
}
.icon-startup-config:before {
	content: "\e229";
}
.icon-stop:before {
	content: "\e228";
}
.icon-stop-shape:before {
	content: "\e22b";
}
.icon-stream:before {
	content: "\e22a";
}
.icon-stream_source:before {
	content: "\e22d";
}
.icon-stream-result:before {
	content: "\e22c";
}
.icon-task:before {
	content: "\e22e";
}
.icon-tdw_source:before {
	content: "\e22f";
}
.icon-tdw_storage:before {
	content: "\e230";
}
.icon-tdw-jar-offline:before {
	content: "\e231";
}
.icon-tdw-offline:before {
	content: "\e236";
}
.icon-time:before {
	content: "\e234";
}
.icon-time2:before {
	content: "\e232";
}
.icon-tpg_storage:before {
	content: "\e233";
}
.icon-transform:before {
	content: "\e235";
}
.icon-transform-table:before {
	content: "\e237";
}
.icon-tredis_storage:before {
	content: "\e238";
}
.icon-tree-application:before {
	content: "\e23a";
}
.icon-tree-application-shape:before {
	content: "\e239";
}
.icon-tree-group:before {
	content: "\e23d";
}
.icon-tree-group-shape:before {
	content: "\e23b";
}
.icon-tree-module:before {
	content: "\e23c";
}
.icon-tree-module-shape:before {
	content: "\e23e";
}
.icon-tree-process:before {
	content: "\e240";
}
.icon-tree-process-shape:before {
	content: "\e241";
}
.icon-tsdb_storage:before {
	content: "\e23f";
}
.icon-tspider_storage:before {
	content: "\e243";
}
.icon-udf:before {
	content: "\e242";
}
.icon-un-full-screen:before {
	content: "\e245";
}
.icon-unlock:before {
	content: "\e246";
}
.icon-unlock-shape:before {
	content: "\e244";
}
.icon-upload:before {
	content: "\e247";
}
.icon-upload-data:before {
	content: "\e24b";
}
.icon-up-shape:before {
	content: "\e248";
}
.icon-user:before {
	content: "\e249";
}
.icon-user-shape:before {
	content: "\e24d";
}
.icon-view:before {
	content: "\e24a";
}
.icon-weixin:before {
	content: "\e24c";
}
.icon-weixin-shape:before {
	content: "\e24e";
}
.icon-win:before {
	content: "\e24f";
}
.icon-withdraw:before {
	content: "\e252";
}
.icon-work-manage:before {
	content: "\e250";
}
.icon--2:before {
	content: "\e253";
}
.icon-abnormal:before {
	content: "\e251";
}
.icon-alert:before {
	content: "\e254";
}
.icon-flow:before {
	content: "\e255";
}
.icon-monitors-3:before {
	content: "\e256";
}
.icon-nodata:before {
	content: "\e257";
}
.icon-origin-source:before {
	content: "\e25b";
}
.icon-apply:before {
	content: "\e258";
}
.icon-save-node:before {
	content: "\e259";
}
.icon-check-detail:before {
	content: "\e25f";
}
.icon-details:before {
	content: "\e25c";
}
.icon-cal-node:before {
	content: "\e25a";
}
.icon-clean-node:before {
	content: "\e25d";
}
.icon-debug-2:before {
	content: "\e25e";
}
.icon-spark-sdk:before {
	content: "\e260";
}
.icon-tdbank:before {
	content: "\e261";
}
.icon-flink-sdk:before {
	content: "\e262";
}
.icon-spark-node:before {
	content: "\e263";
}
.icon-line-table:before {
	content: "\e267";
}
.icon-structure:before {
	content: "\e269";
}
.icon-time-small:before {
	content: "\e266";
}
.icon-urge-fill:before {
	content: "\e26a";
}
.icon-dimens:before {
	content: "\e268";
}
.icon-urge:before {
	content: "\e26b";
}
.icon-sql:before {
	content: "\e26c";
}
.icon-tdw-table:before {
	content: "\e26d";
}
.icon-data-query:before {
	content: "\e270";
}
.icon-notebook:before {
	content: "\e271";
}
.icon-pulsar:before {
	content: "\e274";
}
.icon-prompt:before {
	content: "\e276";
}
.icon-batch_kv_source:before {
	content: "\e277";
}
.icon-kv_source:before {
	content: "\e278";
}
.icon-solid-arrow:before {
	content: "\e279";
}
.icon-resource-detail:before {
	content: "\e27d";
}
.icon-disk-save:before {
	content: "\e284";
}
.icon-calculate:before {
	content: "\e285";
}
.icon-plugin:before {
	content: "\e286";
}
.icon-close-small:before {
	content: "\e28c";
}
.icon-edit-small:before {
	content: "\e28b";
}
.icon-release:before {
	content: "\e28d";
}
.icon-tag:before {
	content: "\e28e";
}
.icon-tag2:before {
	content: "\e28f";
}
.icon-completed-small:before {
	content: "\e290";
}
.icon-undone-small:before {
	content: "\e291";
}
.icon-undone:before {
	content: "\e295";
}
.icon-completed:before {
	content: "\e294";
}
.icon-ignite_storage:before {
	content: "\e296";
}
.icon-icon-help-document-fill:before {
	content: "\e297";
}
.icon-icon-set-fill:before {
	content: "\e298";
}
.icon-icon-delete-fill:before {
	content: "\e299";
}
.icon-icon-edit-small:before {
	content: "\e29a";
}
.icon-dingweipaicha:before {
	content: "\e29b";
}
.icon-quanping:before {
	content: "\e29c";
}
.icon-approve-shape:before {
	content: "\e29d";
}
.icon-resourses:before {
	content: "\e2a3";
}
.icon-angle-double-down:before {
	content: "\e2a7";
}
.icon-angle-double-left:before {
	content: "\e2a9";
}
.icon-angle-down:before {
	content: "\e2ab";
}
.icon-angle-double-right:before {
	content: "\e2a8";
}
.icon-angle-double-up:before {
	content: "\e2aa";
}
.icon-angle-left:before {
	content: "\e2ad";
}
.icon-angle-right:before {
	content: "\e2ac";
}
.icon-angle-up:before {
	content: "\e2ae";
}
.icon-close:before {
	content: "\e2af";
}
.icon-check-1:before {
	content: "\e2b3";
}
.icon-delete:before {
	content: "\e2b0";
}
.icon-exclamation-circle:before {
	content: "\e2b1";
}
.icon-exclamation-circle-shape:before {
	content: "\e2b2";
}
.icon-plus:before {
	content: "\e2b4";
}
.icon-search:before {
	content: "\e2b5";
}
.icon-funnel:before {
	content: "\e2b6";
}
.icon-auto-refresh:before {
	content: "\e2b7";
}
.icon-three-quarters-circle:before {
	content: "\e2b8";
}
.icon-help-fill:before {
	content: "\e2bb";
}
.icon-diff:before {
	content: "\e2ba";
}
.icon-debug-3:before {
	content: "\e2bc";
}
.icon-function-2:before {
	content: "\e2bd";
}
.icon-icon-audit:before {
	content: "\e2be";
}
.icon-icon-configuration:before {
	content: "\e2bf";
}
.icon-icon-data-time:before {
	content: "\e2c0";
}
.icon-icon-tags:before {
	content: "\e2c2";
}
.icon-icon-delet-2:before {
	content: "\e2c1";
}
.icon-original_feature:before {
	content: "\e2c3";
}
.icon-icon-time-circle:before {
	content: "\e2c4";
}
.icon-stop-3:before {
	content: "\e2c7";
}
.icon-new_feature:before {
	content: "\e2c5";
}
.icon-operating_instruction:before {
	content: "\e2c6";
}
.icon-udf-2:before {
	content: "\e2c8";
}
.icon-withdraw-2:before {
	content: "\e2c9";
}
.icon-binding:before {
	content: "\e2ca";
}
.icon-edit-big:before {
	content: "\e2cd";
}
.icon-plus-8:before {
	content: "\e2ce";
}
.icon-subtract:before {
	content: "\e2d0";
}
.icon-down-big:before {
	content: "\e2d2";
}
.icon-up-big:before {
	content: "\e2d3";
}
.icon-fx:before {
	content: "\e2d4";
}
.icon-play-6:before {
	content: "\e2d7";
}
.icon-apply-2:before {
	content: "\e2d8";
}
.icon-next-3:before {
	content: "\e2d9";
}
.icon-notebook-2:before {
	content: "\e2db";
}
.icon-pin:before {
	content: "\e2dc";
}
.icon-jumptask:before {
	content: "\e2dd";
}
.icon-share:before {
	content: "\e2e0";
}
.icon-info:before {
	content: "\e2e1";
}
.icon-info-tip:before {
	content: "\e2e2";
}
.icon-data-analyze:before {
	content: "\e2e4";
}
.icon-excel:before {
	content: "\e2e7";
}
.icon-csv:before {
	content: "\e2e8";
}
.icon-refresh-line:before {
	content: "\e2eb";
}
.icon-corret-fill:before {
	content: "\e2ec";
}
.icon-flink-streaming-code:before {
	content: "\e2f2";
}
.icon-font:before {
	content: "\e2f5";
}
.icon-data-copy:before {
	content: "\e2f7";
}
.icon-data-expand-line:before {
	content: "\e2f8";
}
.icon-data-shrink-line:before {
	content: "\e2f9";
}
.icon-run-small:before {
	content: "\e2fa";
}
.icon-new_notebook:before {
	content: "\e2fb";
}
.icon-new_query:before {
	content: "\e2fc";
}
.icon-check-line:before {
	content: "\e2fd";
}
.icon-save-line:before {
	content: "\e300";
}
.icon-storehouse-line:before {
	content: "\e2ff";
}
.icon-download-3:before {
	content: "\e302";
}
.icon-event:before {
	content: "\e303";
}
.icon-running:before {
	content: "\e304";
}
.icon-fail:before {
	content: "\e305";
}
.icon-rule-regular:before {
	content: "\e306";
}
.icon-light-line:before {
	content: "\e307";
}
.icon-expand-fill:before {
	content: "\e308";
}
.icon-shrink-fill:before {
	content: "\e309";
}
.icon-audit-pass:before {
	content: "\e30a";
}
.icon-quality-index:before {
	content: "\e30b";
}
.icon-quality-fix:before {
	content: "\e30c";
}
.icon-add-9:before {
	content: "\e30e";
}
.icon-down-7:before {
	content: "\e30f";
}
.icon-eye-5:before {
	content: "\e30d";
}
.icon-more-2:before {
	content: "\e311";
}
.icon-redo-line:before {
	content: "\e312";
}
.icon-save-line-2:before {
	content: "\e310";
}
.icon-storehouse-line-2:before {
	content: "\e314";
}
.icon-undo-line:before {
	content: "\e315";
}
.icon-up-7:before {
	content: "\e313";
}
.icon-experiment:before {
	content: "\e316";
}
.icon-model-info:before {
	content: "\e317";
}
.icon-publish-fill:before {
	content: "\e318";
}
.icon-algorithm-2:before {
	content: "\e319";
}
.icon-pick_feature:before {
	content: "\e31a";
}
.icon-sampledata:before {
	content: "\e31b";
}
.icon-multi-version:before {
	content: "\e31c";
}
.icon-run-all:before {
	content: "\e31e";
}
.icon-display-time-consuming:before {
	content: "\e31f";
}
.icon-hide-time-consuming:before {
	content: "\e320";
}
.icon-copy:before {
	content: "\e321";
}
.icon-paste:before {
	content: "\e31d";
}
.icon-close-line-2:before {
	content: "\e322";
}
.icon-minus-6:before {
	content: "\e323";
}
.icon-plus-9:before {
	content: "\e324";
}
.icon-cut:before {
	content: "\e325";
}
.icon-spark-structured-streaming:before {
	content: "\e326";
}
.icon-data-amend:before {
	content: "\e327";
}
.icon-unpublished-line:before {
	content: "\e328";
}
.icon-application:before {
	content: "\e330";
}
.icon-dimension-model:before {
	content: "\e32b";
}
.icon-export:before {
	content: "\e32d";
}
.icon-fact-model:before {
	content: "\e32e";
}
.icon-history-2:before {
	content: "\e329";
}
.icon-import:before {
	content: "\e32a";
}
.icon-link-2:before {
	content: "\e32c";
}
.icon-load:before {
	content: "\e331";
}
.icon-manual-add:before {
	content: "\e32f";
}
.icon-quota:before {
	content: "\e333";
}
.icon-statistic-caliber:before {
	content: "\e332";
}
.icon-code-line:before {
	content: "\e336";
}
.icon-customize-line:before {
	content: "\e337";
}
.icon-detect-abnormal-line:before {
	content: "\e335";
}
.icon-relate-line:before {
	content: "\e334";
}
.icon-predict-line:before {
	content: "\e338";
}
.icon-clickhouse_storage:before {
	content: "\e33a";
}
.icon-key-line:before {
	content: "\e33b";
}
.icon-measure-line:before {
	content: "\e33c";
}
.icon-view-effect-line:before {
	content: "\e33e";
}
.icon-grag-fill:before {
	content: "\e33f";
}
.icon-link-s:before {
	content: "\e343";
}
.icon-load-s:before {
	content: "\e344";
}
.icon-half-success:before {
	content: "\e345";
}
.icon-jump-2:before {
	content: "\e346";
}
.icon-data-16:before {
	content: "\e347";
}
.icon-mode-application:before {
	content: "\e348";
}
.icon-storehouse-3:before {
	content: "\e349";
}
.icon-area-chart-2:before {
	content: "\e34a";
}
.icon-bar-horizontal-chart:before {
	content: "\e34e";
}
.icon-bar-vertical-chart:before {
	content: "\e34b";
}
.icon-bar-horizontal-stack-chart:before {
	content: "\e34c";
}
.icon-bar-vertical-stack-chart:before {
	content: "\e34d";
}
.icon-donut-chart:before {
	content: "\e34f";
}
.icon-help-3:before {
	content: "\e351";
}
.icon-bubble-chart:before {
	content: "\e350";
}
.icon-line-chart-2:before {
	content: "\e352";
}
.icon-pie-chart-3:before {
	content: "\e353";
}
.icon-scatter-chart:before {
	content: "\e354";
}
.icon-table:before {
	content: "\e355";
}
.icon-loading-color:before {
	content: "\e35a";
}
.icon-success:before {
	content: "\e35d";
}
.icon-default:before {
	content: "\e35b";
}
.icon-failed:before {
	content: "\e35c";
}
.icon-tcaplus_storage:before {
	content: "\e35e";
}
.icon-unified_kv_source:before {
	content: "\e35f";
}
.icon-model-application:before {
	content: "\e360";
}
.icon-data-model:before {
	content: "\e361";
}
.icon-realtime-indicators:before {
	content: "\e363";
}
.icon-offline-indicators:before {
	content: "\e364";
}
.icon-biaozhu:before {
	content: "\e365";
}
.icon-sort-by-time:before {
	content: "\e367";
}
.icon-sort-by-name:before {
	content: "\e366";
}
.icon-sort-time:before {
	content: "\e36c";
}
.icon-sort-name:before {
	content: "\e36d";
}
.icon-setting-fill:before {
	content: "\e36f";
}
.icon-setting:before {
	content: "\e36e";
}
.icon-action-help:before {
	content: "\e370";
}
.icon-string:before {
	content: "\e371";
}
.icon-double:before {
	content: "\e372";
}
.icon-timestamp:before {
	content: "\e373";
}
.icon-all-line:before {
	content: "\e374";
}
.icon-qushitu:before {
	content: "\e375";
}
.icon-xiangqing:before {
	content: "\e376";
}
.icon-link-4:before {
	content: "\e377";
}
.icon-refresh-3:before {
	content: "\e378";
}
.icon-text-file:before {
	content: "\e379";
}
.icon-left-join:before {
	content: "\e37a";
}
.icon-dictionary:before {
	content: "\e37b";
}
.icon-shouqi:before {
	content: "\e37c";
}
.icon-zhankai:before {
	content: "\e37d";
}
.icon-back-5:before {
	content: "\e37f";
}
.icon-model-list:before {
	content: "\e380";
}
.icon-shunxudiaozheng:before {
	content: "\e381";
}
.icon-join:before {
	content: "\e382";
}
.icon-generate-report:before {
	content: "\e383";
}
.icon-dagang:before {
	content: "\e384";
}
.icon-expand-line:before {
	content: "\e385";
}
.icon-liuchenghuajianmo:before {
	content: "\e386";
}
.icon-mlsqljianmo:before {
	content: "\e387";
}
